body {
	background: var(--light);
}

.wrap {
	max-width: 1180px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.insulate {
	padding-top: 1.666em;
	padding-bottom: 1.666em;
}

.low {
	margin-top: 30px;
}

.top,
.low {
	letter-spacing: 2px;
	font-weight: 700;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
	background: #FFF;
	font-size: 15px;
	padding: 1.75em 0;
	position: relative;
	z-index: 10;

	& a {
		text-decoration: none;
		margin-left: 1em;
	}

	& .wrap {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	& a:first-child {
		margin: 0 auto 0 0;
	}

	@media (min-width: 350px) {
		font-size: 16px;

		& a {
			margin-left: 20px;
		}
	}

	@media (min-width: 450px) {
		& a {
			margin-left: 40px;
		}
	}
}

hr {
	margin: 1.8em 0;
	border: none;
	border-top: 2px solid var(--mid);
}

.button {
	margin: 1rem auto;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	background: var(--dark);
	transition: 300ms background;
	padding: 1rem 2rem;
	text-align: center;
	color: #FFF;
	display: inline-block;
	min-width: 200px;
	width: auto;


	&:hover {
		background: #1F1821;
		color: #FFF;
	}

	&.button--success {
		background: #2c753c;
	}

	&.button--failure {
		background: #9a3730;
	}
}

.password {
	& .password__result {
		display: block;
		margin: 1.8em 0 1em;
	}

	& .button {
		min-width: auto;
	}
}
