.single {
	max-width: 740px;
	margin: 0 auto 120px;

	& h1 {
		display: inline-block;
		margin-bottom: 0;

		@supports (-webkit-text-fill-color: transparent) {
			background-image: -webkit-gradient(linear,0% 0%,100% 100%,from(#96A0DE),to(#4CACC1));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		& + small {
			display: block;
			margin-bottom: 30px;
			opacity: 0.6;
		}
	}
}
