@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475520/9bdf0737-f98c-477a-9365-ffc41b9d1285-subset.woff2')
      format('woff2'),
    url('/fonts/1475520/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf')
      format('truetype');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+20-7E;
}
@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b-subset.woff2')
      format('woff2'),
    url('/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--dark);
  font: 400 16px/1.79 'Avenir LT', 'Avenir', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (750 - 320));

  @media (min-width: 750px) {
    font-size: 24px;
  }
}

a:not(.button) {
  color: inherit;
  transition: 300ms color;

  &:hover {
    color: var(--blue);

    @supports (-webkit-text-fill-color: transparent) {
      background-image: -webkit-gradient(
        linear,
        0% 0%,
        100% 100%,
        from(#96a0de),
        to(#4cacc1)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

p,
ul,
ol {
  margin: 0 0 1.85em;
}

h1 {
  font-size: 1.666em;
  margin: 0 0 0.5em;
  line-height: 1.5;

  @supports (-webkit-text-fill-color: transparent) {
    background-image: -webkit-gradient(
      linear,
      0% 0%,
      100% 100%,
      from(#96a0de),
      to(#4cacc1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
}

h2 {
  font-size: 1.583em;
  line-height: 1.3;
  margin: 1em 0;
}

h3 {
  line-height: 1.5;
  margin: 1em 0 0;
}

h4 {
  line-height: 1.3;
  margin: 1em 0 0;
  font-size: 1em;
}

.center {
  text-align: center;
}

blockquote {
  font-weight: 700;
  font-size: 1.3em;
  position: relative;
  border-bottom: 2px solid var(--mid);
  border-top: 2px solid var(--mid);
  padding: 1em 0;
  margin: 1.85em 0;
  text-align: center;

  & :last-child {
    margin-bottom: 0;
  }
}

li {
  line-height: 1.5;

  & + li {
    margin-top: 0.8em;
  }
}

code {
  font-size: 0.9em;
}

pre {
  max-width: 100%;
  overflow: auto;
  margin: 1.85em 0;
  font-size: 0.9em;
  padding: 1em;
  line-height: 1.3;
}

h2 + .highlight pre,
h3 + .highlight pre {
  margin-top: 1em;
}

.page-title {
  text-align: center;

  @media (min-width: 750px) {
    margin: 1.1em 0 1em;
  }
}

.content {
  & img {
    margin: 1em auto;
  }
}

ul ul,
ol ol {
  padding: 1.5em 1em 0;
}

figcaption {
  font-size: 16px;
  padding: 0.2em 0 0;
  text-align: right;
}
