body {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	color: var(--dark);
	font: 400 16px/1.79 'Avenir', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: calc( 16px + (24 - 16) * (100vw - 320px) / (750 - 320) );

	@media (min-width: 750px) {
		font-size: 24px;
	}
}

a {
	color: inherit;
	transition: 300ms color;

	&:hover {
		color: var(--blue);
	}
}

p,
ul,
ol {
	margin: 0 0 1.85em;
}

h1 {
	font-size: 1.666em;
	margin: 0 0 0.5em;
	line-height: 1.5;
}

h2 {
	font-size: 1.583em;
	line-height: 1.3;
	margin: 1em 0;
}

h3 {
	line-height: 1.5;
	margin: 1em 0 0;
}

.center {
	text-align: center;
}

blockquote {
	font-weight: 700;
	font-size: 1.3em;
	position: relative;
	border-bottom: 2px solid var(--mid);
	border-top: 2px solid var(--mid);
	padding: 1em 0;
	margin: 1.85em 0;
	text-align: center;

	& :last-child {
		margin-bottom: 0;
	}
}

li {
	line-height: 1.5;

	& + li {
		margin-top: 0.8em;
	}
}

code {
	font-size: 0.9em;
}

pre {
	max-width: 100%;
	overflow: auto;
	margin: 1.85em 0;
	font-size: 0.9em;
	padding: 1em;
	line-height: 1.3;
}

h2 + .highlight pre,
h3 + .highlight pre {
	margin-top: 1em;
}

.page-title {
	text-align: center;

	@media (min-width: 750px) {
		margin: 1.1em 0 1em;
	}
}

.content {
	& img {
		margin: 1em auto;
	}
}

ul ul,
ol ol {
	padding: 1.5em 1em 0;
}

figcaption {
	font-size: 16px;
	padding: 0.2em 0 0;
	text-align: right;
}
