<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
	<head>
		<meta charset="UTF-8" />
		<base href="{{ if getenv "URL" }}{{ getenv "URL" }}/{{ else }}{{ $.Site.BaseURL }}{{ end }}">
		<link rel="stylesheet" href="css/main.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{ .Title }} | {{ .Site.Title }}</title>

		<meta property="og:url" content="{{ getenv "URL" }}{{ .URL }}" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
		<meta property="og:description" content="{{ .Title }} | Frontend developer | Trys Mudford" />
		<meta property="og:image" content="{{ if getenv "URL" }}{{ getenv "URL" }}/{{ else }}{{ $.Site.BaseURL }}{{ end }}images/og.jpg" />
		<meta property="og:image:alt" content="Hartwell Insurance logo" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
		<meta name="twitter:description" content="{{ .Title }} | Frontend developer | Trys Mudford" />
		<meta name="twitter:image" content="{{ if getenv "URL" }}{{ getenv "URL" }}/{{ else }}{{ $.Site.BaseURL }}{{ end }}images/og.jpg" />
		{{ if (.IsPage) and eq .Section "blog" }}
		<meta name="twitter:label1" value="Posted in" />
		<meta name="twitter:data1" value="{{ .Params.categories }}" />
		<meta name="twitter:label2" value="Reading time" />
		<meta name="twitter:data2" value="{{ .ReadingTime }} minute{{ if not (eq .ReadingTime 1) }}s{{ end }}" />
		{{ end }}
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4cacc1">
		<meta name="apple-mobile-web-app-title" content="Trys Mudford">
		<meta name="application-name" content="Trys Mudford">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="theme-color" content="#4cacc1">
	</head>
	<body>

		<header role="banner" class="top">
			<nav class="wrap">
				<a href="/">Trys Mudford</a>
				<a href="/blog/">Blog</a>
				<a href="https://twitter.com/trysmudford" rel="me">Twitter</a>
			</nav>
		</header>

		<main role="main" class="main">
			{{ block "main" . }}

			{{ end }}
		</main>

		<footer role="contentinfo" class="low">
			<nav class="wrap">
				<a href="/">Trys Mudford</a>
				<a href="https://twitter.com/trysmudford" rel="me">Twitter</a>
				<a href="https://github.com/trys" rel="me">GitHub</a>
				<a href="https://instagram.com/trysmudford" rel="me">IG</a>
			</nav>
		</footer>
		{{ if .Params.js }} 
			<script async src="app.js"></script>
		{{ end }}
		<script async>
			var MTUserId='ee7b3c82-404b-4839-8a08-c21c3aed8823';
			var MTFontIds = new Array();

			MTFontIds.push("1475520"); // Avenir® W01 55 Roman 
			MTFontIds.push("1475544"); // Avenir® W01 85 Heavy 
			(function() {
			    var mtTracking = document.createElement('script');
			    mtTracking.type='text/javascript';
			    mtTracking.async='true';
			    mtTracking.src='fonts/mtiFontTrackingCode.js';

			    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtTracking);
			})();
		</script>
	</body>
</html>
