{{ define "main" }}
	<div class="blog">
		<div class="wrap insulate">
			<div class="blog-header">
				<h1 class="page-title blog-title">{{ .Title }}</h1>
				<div class="center">{{ .Content }}</div>
			</div>

			<div class="posts">
				{{ range (.Paginator 12).Pages }}
					{{ if eq .Params.categories "Video" }}
						{{ partial "post-video" . }}
					{{ else if .Params.for }}
						{{ partial "post-external" . }}
					{{ else if eq .Params.categories "Image" }}
						{{ partial "post-image" . }}
					{{ else }}
						{{ partial "post" . }}
					{{ end }}
				{{ end }}
			</div>

			{{ if .Paginator.HasNext }}
				<div class="load-more center">
			    	<a class="button" href="{{ .Paginator.Next.URL }}">More posts</a>
			    </div>
			{{ end }}
		</div>
	</div>
{{ end }}
