.alert {
  font-size: var(--step--1);
  padding: 1rem;
  background: var(--alert-bg);
  position: relative;
  margin-bottom: 1.5em;

  code {
    font-size: var(--step--2);
  }

  &--with-eyebrow {
    padding-top: 2.5rem;
  }

  &__eyebrow {
    position: absolute;
    font-size: var(--step--2);
    font-weight: 700;
    letter-spacing: 0.1em;
    background: var(--gradient);
    color: var(--white);
    padding: 0 1rem;
    left: 0;
    top: 0;
  }

  & > :first-child {
    margin-top: 0;
  }

  pre {
    padding: 0;
  }

  & > :last-child,
  & > .highlight:last-child > :last-child {
    margin-bottom: 0;
  }
}