body {
  background: var(--site-bg);
}

::selection {
  background: var(--gradient-blue);
}

.main {
  min-height: calc(100vh - 7em);
}

.wrap {
  max-width: 1180px;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 500px) {
    width: 90%;
  }
}

.insulate {
  padding-top: 1.666em;
  padding-bottom: 1.666em;
}

.top,
.low {
  letter-spacing: 2px;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background: var(--site-chrome);
  font-size: var(--step--2);
  padding: 1.75em 0;
  position: relative;
  z-index: 10;

  & a,
  & button {
    text-decoration: none;
    margin-left: var(--space-xs-m);
  }

  & .wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  & a:first-child,
  & button:first-child {
    margin: 0 auto 0 0;
  }
}

@media (max-width: 360px) {
  .top a:nth-child(3) {
    display: none;
  }
}

hr {
  margin: var(--space-s-m) 0;
  border: none;
  border-top: 2px solid var(--mid);
}

.button {
  margin: var(--space-s) auto;
  font-weight: 700;
  font-size: var(--step--2);
  letter-spacing: 1px;
  text-decoration: none;
  background: var(--button-bg);
  transition: 300ms background;
  padding: var(--space-2xs-xs) var(--space-s-m);
  text-align: center;
  color: var(--button-text);
  display: inline-block;
  border: none;
  min-width: 200px;
  cursor: pointer;
  width: auto;

  &:hover {
    background: var(--button-bg-hover);
    color: var(--button-text);
  }

  &.button--success {
    background: var(--button-bg-success);
  }
}

.password {
  & .password__result {
    display: block;
    margin: var(--space-s-m) 0 var(--space-s);
  }

  & .button {
    min-width: auto;
  }
}

.dark-mode-toggle {
  color: var(--dark-mode-toggle);
}

:root:not(.dark) .dark-only {
  display: none;
}

:root.dark .light-only {
  display: none;
}
