.opening {
  position: relative;

  .wrap {
    background: var(--home-opening-bg);
  }

  .opening__content {
    max-width: 800px;
    margin: 0 auto;
    padding: var(--gutter) 0;

    h1 {
      margin-bottom: var(--space-xs);
    }

    p ~ * {
      font-size: var(--step--1);
    }

    a {
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }

  figure {
    margin: 0 auto var(--space-s);
    max-width: 461px;
    padding: 0 0 var(--space-s);

    .home-image__cover {
      position: relative;

      img {
        filter: saturate(0);
      }

      &:after {
        background-image: linear-gradient(
          90deg,
          var(--home-opening-overlay-blue),
          var(--home-opening-overlay-green)
        );
        position: absolute;
        opacity: 0.4;
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;

        @supports (mix-blend-mode: overlay) {
          mix-blend-mode: screen;
          opacity: 1;
        }
      }
    }
  }

  @media (min-width: 500px) {
    figure {
      display: none;
    }
  }

  @media (min-width: 1000px) {
    .wrap {
      width: 100%;
      display: flex;
      padding: 0;
      justify-content: space-between;
      align-items: stretch;
      overflow: hidden;
    }

    .opening__content {
      --push: calc(var(--space-2xl) + var(--space-s));

      text-align: left;
      padding: var(--space-l-xl) var(--space-s);
      max-width: 700px;
      width: 55%;
      margin: 0 auto 0 var(--push);
      position: relative;
      z-index: 1;

      &:before {
        position: absolute;
        content: '';
        height: 100%;
        z-index: 0;
        width: 100px;
        right: calc(100% + var(--push));
        top: 0;
      }
    }

    figure {
      background-image: linear-gradient(
          to left,
          var(--home-opening-gradient-cover-1),
          var(--home-opening-gradient-cover-2)
        ),
        var(--home-opening-gradient);
      background-size: 200px 100%, auto;
      background-repeat: no-repeat, repeat-x;
      background-position: right top;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: var(--space-s);
      order: -1;
      width: 340px;
      max-width: none;
      margin: 0;
      z-index: 2;
    }

    .home-image__cover {
      transform: translateX(-25px) scale(0.875);
      width: 460px;
      max-width: none;
    }

    &::after {
      background: var(--home-opening-gradient);
      position: absolute;
      content: '';
      height: 100%;
      z-index: -1;
      width: 50%;
      left: 0;
      top: 0;
    }

    img,
    .home-image__cover::after {
      border-radius: 100%;
    }
  }
}

.feed {
  background: var(--blog-bg);
}

.side-projects {
  box-shadow: 0 -2px var(--space-l) rgba(0, 0, 0, 0.03);
  background: var(--home-side-projects-bg);
  position: relative;
  z-index: 3;
  padding-bottom: var(--space-m);

  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--gutter);
    pointer-events: none;
    line-height: 1.4;

    @media screen and (min-width: 50em) {
      grid-template-columns: repeat(2, 1fr);
    }

    & > * {
      background: var(--home-side-project-bg);
      display: block;
      transition: 300ms box-shadow, 300ms opacity, 300ms transform;
      box-shadow: 0 0 var(--space-m) rgba(0, 0, 0, 0.1);
      pointer-events: auto;
      position: relative;

      &:hover {
        box-shadow: 0 0 var(--space-m) rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }
    }

    &:hover > :not(:hover) {
      opacity: 0.3;
    }

    h2 {
      margin: 0;
      font-size: var(--step-1);
      line-height: 1.5;
    }

    a {
      text-decoration: none;

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }

    p {
      font-size: var(--step--1);
      margin-bottom: 0;
      opacity: 0.7;
    }
    
    .button {
      margin-bottom: 0;
    }

    .project-content {
      padding: var(--space-xs) var(--space-s) var(--space-xs-s);
    }
  }
}

.skillz {
  display: grid;
  font-size: calc(3.5vw + 0.5rem);
  font-weight: 700;
  gap: var(--space-xs);
  grid-template-columns: 1fr;
  letter-spacing: 0.05em;
  line-height: 1;
  list-style: none;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  padding-block: var(--space-s-xl);
  pointer-events: none;

  > :nth-child(2) ul li:last-child {
    padding-right: 2.5em;
  }

  ul li {
    transition: 0.2s opacity ease-out;
  }

  li,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

    &:focus-visible {
      outline: none;
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    overflow: hidden;
    width: 100vw;
  }

  ul li {
    pointer-events: auto;
  }

  ul,
  &:hover ul {
    li:not(:has(h2)) {
      opacity: 0.25;
    }
  }
  
  &:hover ul li:hover {
    opacity: 1;
  }

  h2 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    line-height: inherit;
  }
}
