.single {
  max-width: 740px;
  margin: 0 auto 120px;

  .twitter-tweet {
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .meta {
    display: block;
    margin-bottom: 30px;
    color: var(--mid-blue);
  }

  & h1 {
    margin-bottom: 0.25rem;
  }
}
