/* @link https://utopia.fyi/type/calculator?c=320,17,1.1,750,22,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|xs-m&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.8781rem, 0.821rem + 0.2856vi, 0.9549rem);
  --step--1: clamp(0.9659rem, 0.832rem + 0.6695vi, 1.1458rem);
  --step-0: clamp(1.0625rem, 0.8299rem + 1.1628vi, 1.375rem);
  --step-1: clamp(1.1688rem, 0.8106rem + 1.7907vi, 1.65rem);
  --step-2: clamp(1.2856rem, 0.7689rem + 2.5837vi, 1.98rem);
  --step-3: clamp(1.4142rem, 0.6984rem + 3.5788vi, 2.376rem);
  --step-4: clamp(1.5556rem, 0.5914rem + 4.8208vi, 2.8512rem);
  --step-5: clamp(1.7112rem, 0.4384rem + 6.3638vi, 3.4214rem);
}

:root {
  --space-3xs: clamp(0.25rem, 0.157rem + 0.4651vi, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.423rem + 0.6977vi, 0.75rem);
  --space-xs: clamp(0.8125rem, 0.5799rem + 1.1628vi, 1.125rem);
  --space-s: clamp(1.0625rem, 0.7369rem + 1.6279vi, 1.5rem);
  --space-m: clamp(1.625rem, 1.1599rem + 2.3256vi, 2.25rem);
  --space-l: clamp(2.125rem, 1.4738rem + 3.2558vi, 3rem);
  --space-xl: clamp(3.1875rem, 2.2108rem + 4.8837vi, 4.5rem);
  --space-2xl: clamp(4.25rem, 2.9477rem + 6.5116vi, 6rem);
  --space-3xl: clamp(6.375rem, 4.4215rem + 9.7674vi, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, -0.1221rem + 1.8605vi, 0.75rem);
  --space-2xs-xs: clamp(0.5625rem, 0.1439rem + 2.093vi, 1.125rem);
  --space-xs-s: clamp(0.8125rem, 0.3009rem + 2.5581vi, 1.5rem);
  --space-s-m: clamp(1.0625rem, 0.1788rem + 4.4186vi, 2.25rem);
  --space-m-l: clamp(1.625rem, 0.6017rem + 5.1163vi, 3rem);
  --space-l-xl: clamp(2.125rem, 0.3576rem + 8.8372vi, 4.5rem);
  --space-xl-2xl: clamp(3.1875rem, 1.0945rem + 10.4651vi, 6rem);
  --space-2xl-3xl: clamp(4.25rem, 0.7151rem + 17.6744vi, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1.0625rem, -0.3794rem + 7.2093vi, 3rem);
  --space-xs-m: clamp(0.8125rem, -0.2573rem + 5.3488vi, 2.25rem);
}