:root {
  --white: #fff;
  --light: #f9fafb;
  --dark: #2f2831;
  --dark-hover: #1f1821;
  --mid: #eaeef2;
  --blue: #607288;
  --gradient-blue: #a6c0fe;
  --gradient-green: #4cacc1;
  --gradient-overlay-green: #16754d;
  --gradient-overlay-blue: #0b198b;
  --gradient-dark-blue: #96a0de;
  --success: #2c753c;
  --failure: #9a3730;
}
