/* Background */
.chroma {
  background-color: var(--pre-bg);
}
/* Error */
.chroma .err {
  color: #ff0000;
  background-color: #ffaaaa;
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow: auto;
  display: block;
}
/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc;
}
/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  display: block;
}
/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

:root {
  --syntax-dark-blue: #0000aa;
  --syntax-teal: #00aaaa;
  --syntax-light-blue: #1e90ff;
  --syntax-success: #00aa00;
  --syntax-failure: #aa0000;
  --syntax-deep-red: #880000;
  --syntax-grey: #888888;
  --syntax-light-grey: #aaaaaa;
  --syntax-brown: #713900;
  --syntax-black: #000000;
}

:root.dark {
  --syntax-dark-blue: #b0b0ec;
  --syntax-teal: #00aaaa;
  --syntax-light-blue: #1e90ff;
  --syntax-success: #62d262;
  --syntax-failure: #dc6262;
  --syntax-deep-red: #dc6262;
  --syntax-grey: #888888;
  --syntax-light-grey: #aaaaaa;
  --syntax-brown: #d88838;
  --syntax-black: #000000;
}

/* Keyword */
.chroma .k {
  color: var(--syntax-dark-blue);
}
/* KeywordConstant */
.chroma .kc {
  color: var(--syntax-dark-blue);
}
/* KeywordDeclaration */
.chroma .kd {
  color: var(--syntax-dark-blue);
}
/* KeywordNamespace */
.chroma .kn {
  color: var(--syntax-dark-blue);
}
/* KeywordPseudo */
.chroma .kp {
  color: var(--syntax-dark-blue);
}
/* KeywordReserved */
.chroma .kr {
  color: var(--syntax-dark-blue);
}
/* KeywordType */
.chroma .kt {
  color: var(--syntax-teal);
}
/* NameAttribute */
.chroma .na {
  color: var(--syntax-light-blue);
}
/* NameBuiltin */
.chroma .nb {
  color: var(--syntax-teal);
}
/* NameClass */
.chroma .nc {
  color: var(--syntax-success);
}
/* NameConstant */
.chroma .no {
  color: var(--syntax-failure);
}
/* NameDecorator */
.chroma .nd {
  color: var(--syntax-grey);
}
/* NameEntity */
.chroma .ni {
  color: var(--syntax-deep-red);
  font-weight: bold;
}
/* NameFunction */
.chroma .nf {
  color: var(--syntax-success);
}
/* NameNamespace */
.chroma .nn {
  color: var(--syntax-teal);
}
/* NameTag */
.chroma .nt {
  color: var(--syntax-light-blue);
  font-weight: bold;
}
/* NameVariable */
.chroma .nv {
  color: var(--syntax-failure);
}
/* LiteralString */
.chroma .s {
  color: var(--syntax-brown);
}
/* LiteralStringAffix */
.chroma .sa {
  color: var(--syntax-brown);
}
/* LiteralStringBacktick */
.chroma .sb {
  color: var(--syntax-brown);
}
/* LiteralStringChar */
.chroma .sc {
  color: var(--syntax-brown);
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--syntax-brown);
}
/* LiteralStringDoc */
.chroma .sd {
  color: var(--syntax-brown);
}
/* LiteralStringDouble */
.chroma .s2 {
  color: var(--syntax-brown);
}
/* LiteralStringEscape */
.chroma .se {
  color: var(--syntax-brown);
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--syntax-brown);
}
/* LiteralStringInterpol */
.chroma .si {
  color: var(--syntax-brown);
}
/* LiteralStringOther */
.chroma .sx {
  color: var(--syntax-brown);
}
/* LiteralStringRegex */
.chroma .sr {
  color: var(--syntax-teal);
}
/* LiteralStringSingle */
.chroma .s1 {
  color: var(--syntax-brown);
}
/* LiteralStringSymbol */
.chroma .ss {
  color: var(--syntax-dark-blue);
}
/* LiteralNumber */
.chroma .m {
  color: var(--syntax-teal);
}
/* LiteralNumberBin */
.chroma .mb {
  color: var(--syntax-teal);
}
/* LiteralNumberFloat */
.chroma .mf {
  color: var(--syntax-teal);
}
/* LiteralNumberHex */
.chroma .mh {
  color: var(--syntax-teal);
}
/* LiteralNumberInteger */
.chroma .mi {
  color: var(--syntax-teal);
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--syntax-teal);
}
/* LiteralNumberOct */
.chroma .mo {
  color: var(--syntax-teal);
}
/* OperatorWord */
.chroma .ow {
  color: var(--syntax-dark-blue);
}
/* Comment */
.chroma .c {
  color: var(--syntax-light-grey);
  font-style: italic;
}
/* CommentHashbang */
.chroma .ch {
  color: var(--syntax-light-grey);
  font-style: italic;
}
/* CommentMultiline */
.chroma .cm {
  color: var(--syntax-light-grey);
  font-style: italic;
}
/* CommentSingle */
.chroma .c1 {
  color: var(--syntax-light-grey);
  font-style: italic;
}
/* CommentSpecial */
.chroma .cs {
  color: var(--syntax-dark-blue);
  font-style: italic;
}
/* CommentPreproc */
.chroma .cp {
  color: var(--syntax-success);
}
/* CommentPreprocFile */
.chroma .cpf {
  color: var(--syntax-success);
}
/* GenericDeleted */
.chroma .gd {
  color: var(--syntax-failure);
}
/* GenericEmph */
.chroma .ge {
  font-style: italic;
}
/* GenericError */
.chroma .gr {
  color: var(--syntax-failure);
}
/* GenericHeading */
.chroma .gh {
  color: var(--syntax-black);
  font-weight: bold;
}
/* GenericInserted */
.chroma .gi {
  color: var(--syntax-success);
}
/* GenericOutput */
.chroma .go {
  color: var(--syntax-grey);
}
/* GenericPrompt */
.chroma .gp {
  color: #555555;
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: #800080;
  font-weight: bold;
}
/* GenericTraceback */
.chroma .gt {
  color: var(--syntax-failure);
}
/* TextWhitespace */
.chroma .w {
  color: #bbbbbb;
}
