@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475520/AvenirLT-Book.woff2')
      format('woff2'),
    url('/fonts/1475520/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf')
      format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b-subset.woff2')
      format('woff2'),
    url('/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E;
}

@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475520/AvenirLT-BookOblique.woff2')
      format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+20-7E;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--dark);
  font: 400 var(--step-0)/1.79 'Avenir LT', 'Avenir', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

a:not(.button) {
  color: inherit;
  transition: 300ms color;

  &:hover {
    color: var(--mid-blue);

    @supports (-webkit-text-fill-color: transparent) {
      background-image: -webkit-gradient(
        linear,
        0% 0%,
        100% 100%,
        from(var(--gradient-blue)),
        to(var(--gradient-green))
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::selection {
        -webkit-text-fill-color: var(--dark);
      }
    }
  }
}

a.footnote-ref,
.footnote-ref a {
  text-decoration: none;
  font-size: var(--step--2);
  color: var(--gradient-green);
  font-weight: 700;
}

p,
ul,
ol {
  margin: 0 0 1.2em;
}

h1 {
  font-size: var(--step-3);
  margin: 0 0 0.5em;
  line-height: 1.3;

  @supports (-webkit-text-fill-color: transparent) {
    background-image: -webkit-gradient(
      linear,
      0% 0%,
      100% 100%,
      from(var(--gradient-blue)),
      to(var(--gradient-green))
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

    &::selection {
      -webkit-text-fill-color: var(--dark);
    }
  }
}

h2 {
  font-size: var(--step-2);
  line-height: 1.3;
  margin: 1em 0;
}

h3 {
  font-size: var(--step-1);
  line-height: 1.5;
  margin: 1em 0 0;
}

h4 {
  line-height: 1.3;
  margin: 1em 0 0;
  font-size: var(--step-0);
}

.center {
  text-align: center;
}

blockquote {
  font-weight: 700;
  font-size: var(--step-1);
  position: relative;
  border-bottom: 2px solid var(--mid);
  border-top: 2px solid var(--mid);
  padding: 1em 0;
  margin: 1.85em 0;
  text-align: center;

  & :last-child {
    margin-bottom: 0;
  }

  &.longquote {
    font-size: var(--step-0);
    text-align: left;
    font-weight: 400;
    padding-left: 1.5em;
    font-style: italic;
    color: var(--mid-blue);

    &:before {
      content: '“';
      position: absolute;
      font-size: var(--step-4);
      font-weight: 700;
      left: -0.25rem;
      top: 0.6rem;
    }

    cite {
      font-weight: 700;
      display: block;
      margin-top: 0.5rem;
      font-style: normal;
      font-size: var(--step--1);
    }
  }
}

li {
  line-height: 1.5;

  & + li {
    margin-top: 0.8em;
  }
}

code {
  font-size: var(--step--1);
}

pre {
  max-width: 100%;
  overflow: auto;
  margin: 1.85em 0;
  padding: 1.2em;
  line-height: 1.3;
}

pre,
pre code {
  font-size: var(--step--2);
}

p code {
  background-color: var(--mid);
  font-size: var(--step--2);
  padding: 0.25em;
}

h2 + .highlight pre,
h3 + .highlight pre {
  margin-top: 1em;
}

.p-name {
  text-align: center;

  @media (min-width: 750px) {
    margin: 1em 0 1.5em;
  }
}

.content {
  & img {
    margin: 1em auto;
  }

  & h2 {
    margin-bottom: 0.25em;
  }

  & figcaption {
    display: block;
    margin: -1.25em 0 2rem;
  }

  h3 + ul {
    margin-top: 1rem;
  }
}

ul ul,
ol ol {
  padding: 1.5em 1em 0;
}

figcaption {
  font-size: var(--step--2);
  padding: 0.2em 0 0;
  text-align: right;
}

.footnotes {
  font-size: var(--step--1);
}
