@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475520/AvenirLT-Book.woff2')
      format('woff2'),
    url('/fonts/1475520/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf')
      format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b-subset.woff2')
      format('woff2'),
    url('/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E;
}

@font-face {
  font-family: 'Avenir LT';
  src: url('/fonts/1475520/AvenirLT-BookOblique.woff2')
      format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+20-7E;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--site-text);
  font: 400 var(--step-0)/1.6 'Avenir LT', 'Avenir', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

.link {
  color: inherit;
}

a:not(.button):not(.link) {
  color: inherit;
  transition: 300ms color;

  &:hover {
    color: var(--site-link-hover-fallback);

    @supports (-webkit-text-fill-color: transparent) {
      background-image: -webkit-gradient(
        linear,
        0% 0%,
        100% 100%,
        from(var(--gradient-blue)),
        to(var(--gradient-green))
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::selection {
        -webkit-text-fill-color: var(--site-text);
      }
    }
  }
}

a.footnote-ref,
.footnote-ref a {
  text-decoration: none;
  font-size: var(--step--2);
  color: var(--blog-card-link);
  font-weight: 700;
}

p,
ul,
ol {
  margin: 0 0 var(--space-s);
}

h1 {
  font-size: var(--step-3);
  margin: 0 0 var(--gutter);
  line-height: 1.3;
}

h1,
.gradient-text {
  @supports (-webkit-text-fill-color: transparent) {
    background-image: var(--site-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

    &::selection {
      -webkit-text-fill-color: var(--site-text);
    }
  }
}

h2 {
  font-size: var(--step-2);
  line-height: 1.3;
  margin: var(--space-s-m) 0;
}

h3 {
  font-size: var(--step-1);
  line-height: 1.5;
  margin: var(--space-s-m) 0 0;
}

h2 + h3 {
  margin-top: 0;
}

h4 {
  line-height: 1.3;
  margin: var(--space-s) 0 0;
  font-size: var(--step-0);
}

h4 + .highlight .chroma {
  margin-top: var(--space-xs);
}

h2.subtitle {
  margin-top: 0;
  line-height: 1.3;
  font-size: var(--step-0);
  color: var(--mid-blue);
}

.center {
  text-align: center;
}

blockquote {
  font-weight: 700;
  font-size: var(--step-1);
  position: relative;
  border-bottom: 2px solid var(--blockquote-border);
  border-top: 2px solid var(--blockquote-border);
  padding: var(--space-s-m) 0;
  margin: var(--space-m-l) 0;
  text-align: center;

  & :last-child {
    margin-bottom: 0;
  }

  &.longquote {
    font-size: var(--step-0);
    text-align: left;
    font-weight: 400;
    padding-left: var(--space-m-l);
    line-height: 1.6;
    font-style: italic;
    color: var(--blockquote-quote);

    &:before {
      content: '“';
      position: absolute;
      font-size: var(--step-4);
      font-weight: 700;
      left: -0.25rem;
      top: 0.6rem;
    }

    cite {
      font-weight: 700;
      display: block;
      margin-top: var(--space-2xs);
      font-style: normal;
      font-size: var(--step--1);
    }
  }
}

li {
  & + li {
    margin-top: var(--space-xs);
  }
}

code {
  font-size: var(--step--1);
}

pre {
  max-width: 100%;
  overflow: auto;
  margin: var(--space-m) 0;
  padding: var(--space-s);
  line-height: 1.3;
}

pre,
pre code {
  font-size: var(--step--2);
}

li code,
p code {
  background-color: var(--code-bg);
  font-size: var(--step--2);
  padding: 0.25em;
}

h2 + .highlight pre,
h3 + .highlight pre {
  margin-top: 1em;
}

.content {
  & img {
    margin: var(--space-s) auto;
  }

  & h2 {
    margin-bottom: 0.25em;
  }

  & figcaption {
    display: block;
    margin: -1.25em 0 var(--space-m);
  }

  h3 + ul {
    margin-top: var(--space-s);
  }
}

ul ul,
ol ol {
  padding: var(--space-m) 1em 0;
}

figcaption {
  font-size: var(--step--2);
  padding: var(--space-3xs) 0 0;
  text-align: right;
  line-height: 1.4;
}

.footnotes {
  font-size: var(--step--1);
}
