<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
	<head>
		{{ $url := getenv (cond (eq "production" (getenv "CONTEXT")) "URL" "DEPLOY_PRIME_URL" ) | default (cond (eq "//localhost:1313/" (printf "%s" $.Site.BaseURL)) "//localhost:1313" $.Site.BaseURL) }}
		<meta charset="UTF-8" />
		<base href="{{ $url }}">
		{{ $post := resources.Get "css/main.scss" }}
		{{- $style := $post | resources.ToCSS | minify -}}
		{{- $title := printf "%s | %s" .Title .Site.Title -}}
		{{- $og := printf "%s%s" $url (.Params.image | default "/images/og-2019.jpg") -}}
		{{- $description := .Description | default (printf "%s | %s | %s" .Title "Trys Mudford" "Frontend developer") -}}
		{{- $ogSize := cond (isset .Params "image") "summary_large_image" "summary" -}}

		<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ $title }}</title>
		<meta name="description" content="{{ $description }}" />
		<meta property="og:url" content="{{ $url }}{{ .RelPermalink }}" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ $title }}" />
		<meta property="og:description" content="{{ $description }}" />
		<meta property="og:image" content="{{ $og }}" />
		<meta property="og:image:alt" content="Trys Mudford" />
		<meta name="twitter:card" content="{{ $ogSize }}" />
		<meta name="twitter:title" content="{{ $title }}" />
		<meta name="twitter:description" content="{{ $description }}" />
		<meta name="twitter:image" content="{{ $og }}" />
		{{- if (.IsPage) and eq .Section "blog" -}}
		<meta name="twitter:label1" value="Posted in" />
		<meta name="twitter:data1" value="{{ .Params.categories }}" />
		<meta name="twitter:label2" value="Reading time" />
		<meta name="twitter:data2" value="{{ .ReadingTime }} minute{{ if not (eq .ReadingTime 1) }}s{{ end }}" />
		{{- end -}}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4cacc1">
		<meta name="apple-mobile-web-app-title" content="Trys Mudford">
		<meta name="application-name" content="Trys Mudford">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="theme-color" content="#4cacc1">
		<link rel="preload" href="/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b-subset.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/1475520/9bdf0737-f98c-477a-9365-ffc41b9d1285-subset.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="alternate" type="application/rss+xml" href="{{ $url }}blog/index.xml" title="Trys Mudford RSS Feed" />
	</head>
	<body>

		<header role="banner" class="top">
			<nav class="wrap">
				<a href="/">Trys Mudford</a>
				<a href="/blog/">Blog</a>
				<a href="https://twitter.com/trysmudford" rel="me">Twitter</a>
			</nav>
		</header>

		<main role="main" class="main">
			{{ block "main" . }}

			{{ end }}
		</main>

		<footer role="contentinfo" class="low">
			<nav class="wrap">
				<a href="/">Trys Mudford</a>
				<a href="https://photography.trysmudford.com" rel="me">Photography</a>
				<a href="https://twitter.com/trysmudford" rel="me">Twitter</a>
				<a href="https://github.com/trys" rel="me">GitHub</a>
				<a href="https://instagram.com/trysmudford" rel="me">IG</a>
			</nav>
		</footer>
		{{ if not .Site.BuildDrafts }}
		<script>
			if (navigator.serviceWorker) {
				navigator.serviceWorker.register('/sw.js', {
					scope: '/'
				});
				window.addEventListener('load', function() {
					if (navigator.serviceWorker.controller) {
						navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
					}
				});
			}
		</script>
		{{ end }}
	</body>
</html>
