{{ define "main" }}
	<div class="blog">
		<div class="wrap insulate">
			<div class="blog-header">
				<h1 class="p-name blog-title">{{ .Title }}</h1>
				{{ .Content }}

				<ul class="categories-list">
					{{ $sectionName := .Title | urlize }}
					{{ range $key, $value := .Site.Taxonomies.categories }}
						{{ if eq $sectionName ($key | urlize) }}
							<li aria-current="true">
								<span>{{ $key | humanize }}</span> <output>({{ len $value }})</output>
							</li>
						{{ else }}
							<li>
								<a href="/categories/{{ $key | urlize  }}">{{ $key | humanize }}</a> <output>({{ len $value }})</output>
							</li>
						{{ end }}
					{{ end }}
					{{ if eq .Path "/blog" }}
						<li aria-current="true">
							<span>All</span>
							<output>({{ where .Site.RegularPages "Section" "blog" | len }})</output>
						</li>
					{{ else }}
						<li>
							<a href="/blog">All</a>
							<output>({{ where .Site.RegularPages "Section" "blog" | len }})</output>
						</li>
					{{ end }}
				</ul>
			</div>

			<div class="posts">
				{{ range (.Paginator 12).Pages }}
					{{ if eq .Params.categories "Video" }}
						{{ partial "post-video" . }}
					{{ else if .Params.link }}
						{{ partial "post-external" . }}
					{{ else if eq .Params.categories "Image" }}
						{{ partial "post-image" . }}
					{{ else if eq .Params.type "quote" }}
						{{ partial "post-quote" . }}
					{{ else }}
						{{ partial "post" . }}
					{{ end }}
				{{ end }}
			</div>

			<div class="load-more center">
				{{ if .Paginator.HasNext }}
					<a class="button" href="{{ .Paginator.Next.URL }}">More posts</a>
					<br>
				{{ end }}
				{{ with .OutputFormats.Get "rss" -}}
					{{ printf `<a href="%s">RSS</a>` .Permalink | safeHTML }}
				{{ end -}}
			</div>
		</div>
	</div>
{{ end }}
