{{ define "main" }}
	<div class="blog">
		<div class="wrap insulate">
			<div class="blog-header center">
				<h1 class="p-name blog-title">{{ .Title }}</h1>
				{{ .Content }}
			</div>

			<div class="posts">
				{{ range (.Paginator 12).Pages }}
					{{ if eq .Params.categories "Video" }}
						{{ partial "post-video" . }}
					{{ else if .Params.for }}
						{{ partial "post-external" . }}
					{{ else if eq .Params.categories "Image" }}
						{{ partial "post-image" . }}
					{{ else if eq .Params.type "quote" }}
						{{ partial "post-quote" . }}
					{{ else }}
						{{ partial "post" . }}
					{{ end }}
				{{ end }}
			</div>

			<div class="load-more center">
				{{ if .Paginator.HasNext }}
					<a class="button" href="{{ .Paginator.Next.URL }}">More posts</a>
					<br>
				{{ end }}
				{{ with .OutputFormats.Get "rss" -}}
					{{ printf `<a href="%s">RSS</a>` .Permalink | safeHTML }}
				{{ end -}}
			</div>
		</div>
	</div>
{{ end }}
