{{ define "main" }}
<div class="wrap insulate">
	<div class="single content h-entry {{ .Params.className }}">
		<header class="center">
			<h1 class="p-name">{{ .Title }}</h1>
			{{ if .Params.subtitle }}<h2 class="subtitle">{{ .Params.subtitle }}</h2>{{ end}}
			{{ if eq .CurrentSection.RelPermalink "/blog/" }}
				{{ partial  "meta" . }}
			{{ end }}
		</header>

		<div class="e-content">
			{{ .Content }}
		</div>

		{{ if eq .CurrentSection.RelPermalink "/blog/" }}
			<hr />
			{{ partial  "meta" . }}
		{{ end }}

	</div>
</div>
{{ end }}