{{ define "main" }}
	<div class="opening">
		<div class="wrap">
			<div class="opening__content">
				{{ .Content }}
			</div>

			<figure class="home-image">
				<div class="home-image__cover">
					<picture>
						<source srcset="images/trysmudford.webp" type="image/webp">
						<source srcset="images/trysmudford.jpg" type="image/jpg"> 
						<img src="images/trysmudford.jpg" alt="Trys Mudford">
					</picture>
				</div>
			</figure>
		</div>
	</div>

	<section class="feed">
		<div class="insulate wrap">
			<header class="center">
				<h1 class="page-title"><a href="/blog/">Latest articles</a></h1>
			</header>
			<div class="posts">
				{{ range first 4 (where (where .Site.RegularPages "Section" "blog") ".Params.categories" "==" "Web" ) }}
					{{ partial "post" . }}
				{{ end }}
			</div>
		</div>
	</section>
{{ end }}
