{{ define "main" }}
<div class="opening">
  <div class="wrap">
    <div class="opening__content">
      {{ .Content }}
    </div>

    <figure class="home-image">
      <div class="home-image__cover">
        <picture>
          <source srcset="images/trysmudford-2019.avif" type="image/avif" />
          <source srcset="images/trysmudford-2019.webp" type="image/webp" />
          <img src="images/trysmudford-2019.jpg" alt="Trys Mudford" width="512" height="512" />
        </picture>
      </div>
    </figure>
  </div>
</div>

<section class="side-projects">
  <div class="insulate wrap">
    <header class="center">
      <h1 class="p-name" id="side-projects">Side projects</h1>
    </header>
    <div class="projects">
      <article>
        <picture>
          <source srcset="/images/projects/utopia.avif" type="image/avif" />
          <source srcset="/images/projects/utopia.webp" type="image/webp" />
          <img src="/images/projects/utopia.png" alt="Utopia screenshot" loading="lazy" width="1200" height="600" />
        </picture>
        <div class="project-content">
          <h2>
            <a href="https://utopia.fyi">Utopia</a>
          </h2>
          <p>
            Elegantly scale type and space without breakpoints.
          </p>
        </div>
      </article>

      <article>
        <picture>
          <source srcset="/images/projects/journalbook.avif" type="image/avif" />
          <source srcset="/images/projects/journalbook.webp" type="image/webp" />
          <img src="/images/projects/journalbook.jpg" alt="Journalbook logo" loading="lazy" width="1200" height="600" />
        </picture>
        <div class="project-content">
          <h2>
            <a href="https://journalbook.co.uk">Journalbook</a>
          </h2>
          <p>
            A private, offline-first, personal journal.
          </p>
        </div>
      </article>

      <article>
        <picture>
          <source srcset="/images/projects/sergey.avif" type="image/avif" />
          <source srcset="/images/projects/sergey.webp" type="image/webp" />
          <img src="/images/projects/sergey.jpg" alt="Sergey logo" loading="lazy" width="1200" height="600" />
        </picture>
        <div class="project-content">
          <h2>
            <a href="https://sergey.trysmudford.com">Sergey</a>
          </h2>
          <p>
            A very little static site generator with HTML + include files +
            slots + markdown.
          </p>
        </div>
			</article>
			
			<article>
        <picture>
          <source srcset="/images/projects/pedalboard.avif" type="image/avif" />
          <source srcset="/images/projects/pedalboard.webp" type="image/webp" />
          <img src="/images/projects/pedalboard.jpg" alt="Pedalboard screenshot" loading="lazy" width="1200" height="600" />
        </picture>
        <div class="project-content">
          <h2>
            <a href="https://pedalboard.netlify.app/">JS Pedalboard</a>
          </h2>
          <p>
            A Web Audio/MIDI experiment of 9 guitar effects, including delay, reverb, overdrive and a looper.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="feed">
  <div class="insulate wrap">
    <header class="center">
      <h1 class="p-name"><a href="/blog/">Latest articles</a></h1>
    </header>
    <div class="posts">
      {{ $cats := slice "Web" "Life" }}
      {{ range first 4 (where (where .Site.RegularPages "Section" "blog") ".Params.categories" "in" $cats ) }}
      	{{ partial "post" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
