{{ define "main" }}
	<div class="opening">
		<div class="wrap">
			<div class="opening__content">
				{{ .Content }}
			</div>

			<figure>
				<picture>
				  <source srcset="images/trys.webp" type="image/webp">
				  <source srcset="images/trys.png" type="image/png"> 
				  <img src="images/trys.png" alt="Trys Mudford">
				</picture>
			</figure>
		</div>
	</div>

	<section class="feed">
		<div class="insulate wrap">
			<h1 class="page-title"><a href="/blog/">Latest articles</a></h1>
			<div class="posts">
				{{ range first 4 (where (where .Site.RegularPages "Section" "blog") ".Params.categories" "==" "Web" ) }}
					{{ partial "post" . }}
				{{ end }}
			</div>
		</div>
	</section>
{{ end }}
