<article class="fade-out-siblings">
  <button>Card 1</button>
  <button>Card 2</button>
  <button>Card 3</button>
</article>

<style>
.fade-out-siblings {
  --gutter: 2.5rem;

  background: var(--gradient-blue);
  text-align: center;
  grid-gap: var(--gutter);
  padding: var(--gutter);
  display: grid;
  margin: 2rem 0;

  pointer-events: none;
}

.fade-out-siblings > * {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  padding: 2rem 1rem;
  cursor: pointer;

  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;
}

.fade-out-siblings:hover > *,
.fade-out-siblings:focus-within > * {
  opacity: 0.4;
}

.fade-out-siblings:hover > :hover,
.fade-out-siblings:focus-within > :focus {
  transform: scale(1.1);
  opacity: 1;
  outline: none;
}

.fade-out-siblings:hover > :focus:not(:hover) {
  transform: scale(1.05);
}

@media (min-width: 40em) {
  .fade-out-siblings {
    grid-template-columns: repeat(3, 1fr);
  }

  .fade-out-siblings > * {
    padding: 4rem 1rem;
  }
}


.fade-out-siblings button {
  box-shadow: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  font: inherit;
  outline: none;
}
</style>
